<h2>Trail Finder</h2>
<input [(ngModel)]="_search" placeholder="city">
<button (click)="doSearch()">Find Me a Trail</button>
<div id="notFound" class="notFound" *ngIf="_searched && !_result"> We could not find a trail here. :(</div>

<div class="found" *ngIf="_searched && _result">
  <p id="name">Name: {{_result?.name}}</p>
  <p id="state">State: {{_result?.state}}</p>
  <p id="directions">Directions: {{_result?.directions}}</p>
  <p>Activities:</p>
  <ul id="activities" *ngIf="_result?.activities">
    <li *ngFor="let activity of _result.activities">
      {{activity.activity_type_name}} {{activity.description}}
    </li>
  </ul>
</div>
